<h1>blog post</h1>



<h3>{{blog.title}}</h3>
<p>{{blog.post}}</p>


<form>
    <label for="comment">comments:</label><br>
    <input type="text" id="comment" name="c"><br>
    <input type="submit" id="commentsub" value="Submit">

</form>