<body>
<form id="createform" onsubmit="createAPost()">

  <p><label for="post">Start Your Blog Post:</label></p>
  <label for="fname">Title:</label><br>
    <input type="text" id="ptit" name="fname"><br>
  <textarea id="opentext" name="opentext" rows="4" cols="50"></textarea>
  <br>
  <input type="submit" value="Submit">
</form>
<script src="/js/create.js"></script>
</body>