
<form action="/dashboard" id="createform">

  <p><label for="post">Start Your Blog Post:</label></p>
  <label for="fname">Title:</label><br>
    <input type="text" id="ptit" name="fname"><br>
  <textarea id="opentext" name="opentext" rows="4" cols="50"></textarea>
  <br>
  <input type="submit" value="Submit">
</form>
