<nav class="homeNav">
<a href="/signup">Signup</a>
    <a href="/login">Login</a>
    </nav>
<marquee>The Future Is Now!</marquee>
<header>
    <h1>Tech Speaks Blog</h1>
  </header>
  <aside class="best">
      <h2>The Best Place To Discover New Things!</h2>
    </aside>
<img src="https://img.freepik.com/premium-vector/kawaii-screen-computer-image_18591-8889.jpg" alt="cute cartoon computer">
<h3 id="fp">Featured Post</h3>
<section class="feature">
<h3>{{blog.title}}</h3>
<p>{{blog.post}}</p>
</section>




   
   
   
   
   
   
    