<h1 id="sfmf">Signup for more fun!</h1>

<form  class="f" id="form">
    <label for="fname">Username:</label><br>
    <input type="text" id="user" name="fname"><br>
    <label for="pass">Password:</label><br>
    <input type="text" id="passW" name="pass"><br><br>
    <input type="submit" id="signupbtn" value="Submit">

</form>