* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  background-color: #ffc8a8;
}
marquee {
  background-color: aliceblue;
  color: rgb(6, 6, 43);
}

nav {
  background-color: cornflowerblue;
}
header {
  text-align: center;
  color: midnightblue;
}
.best {
  text-align: center;
  color: midnightblue;
}
footer {
  text-align: center;
  background-color: aliceblue;
  color: rgb(6, 6, 43);
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1.5rem; /* Footer height */
}

#bye {
  color: rgb(90, 90, 213);
  text-align: center;
}
#fp {
  color: rgb(90, 90, 213);
  text-align: center;
}

.feature {
  text-align: center;
  margin: auto;
  border: 5px solid midnightblue;
  background-color: aliceblue;
  box-shadow: 10px 5px 5px cornflowerblue;
}
